main.out
main.bbl
*.bib.blg
main.blg
main.pdf
main.ptb
main.run.xml
main.bcf
main.tdo
main.synctex.gz*
*_bibertool.bib
*.aux
*.bbl
*.bcf
*.dvi
*.fdb_latexmk
*.log
*.nav
*.fls
*.pdf
*.run.xml
*.snm
*.vrb
*.xdv
bcf
blg
out
ptb
synctex*
toc
_*
auto
