Reconstructing-Propositional-Proofs-in-Type-Theory.out
Reconstructing-Propositional-Proofs-in-Type-Theory.bbl
*.bib.blg
Reconstructing-Propositional-Proofs-in-Type-Theory.blg
Reconstructing-Propositional-Proofs-in-Type-Theory.ptb
Reconstructing-Propositional-Proofs-in-Type-Theory.run.xml
Reconstructing-Propositional-Proofs-in-Type-Theory.bcf
Reconstructing-Propositional-Proofs-in-Type-Theory.tdo
Reconstructing-Propositional-Proofs-in-Type-Theory.synctex.gz*
*_bibertool.bib
*.aux
*.bbl
*.bcf
*.dvi
*.fdb_latexmk
*.log
*.nav
*.fls
*.run.xml
*.snm
*.vrb
*.xdv
bcf
blg
out
ptb
synctex*
toc
_*
auto
